@model TPFinalCe.Models.Disciplina

@{
    ViewData["Title"] = "Detalles";
}
<link href="~/css/Estilos.css" rel="stylesheet" />


<div class="contenedor-details-1">
    <h1 class="h1-titulo">Detalles disciplina:</h1>
    <div class="contenedor-details-2">
        <div>
            <div>
                <p class="p-details">Disciplina:</p>
            </div>
            <div>
                <p class="p-details-descripcion">@Html.DisplayFor(model => model.Nombre)</p>
            </div>
        </div>
        <div class="c-s-2">
@*             <b> @Html.DisplayFor(model => model.Foto):</b>
 *@            @if (!string.IsNullOrEmpty(@Model.Foto))//agregamos esto para poder validar si existe o no
            {
                <img class="foto-detalles" src="~/images/disciplinas/basquet.jpg" asp-append-version="true" />
            }
        </div>
    </div>
    <div class="contenedor-acciones">
        <a class="btn-editar-details" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn-volver" asp-action="Index">Volver</a>
    </div>
</div>

