@{
	ViewData["Title"] = "Home Page";
}
<link href="~/css/estilos.css" rel="stylesheet" />
<img src="~/images/logo/novedadesrec.png" style="width: 100%; height: auto;" />
<div class="contenedor-principal-home">
	<h1 class="h1-nosotros">¡Te vamos a contar sobre nosotros!</h1>
	<hr />
	<p class="p-nosotros">
		<b>Porteña Asociación Club Deportiva (PACD)</b> es una institución dedicada al fomento del deporte y los valores en nuestra comunidad.
	</p>
	<p class="p-nosotros">
		<b>Con más de 80 años de historia</b>, ofrecemos una amplia gama de actividades deportivas, incluyendo fútbol, básquet, vóley,
		atletismo y más, para todas las edades y niveles. Nuestras instalaciones incluyen canchas de fútbol, gimnasio, pistas de atletismo y espacios recreativos.
	</p>
	<p class="p-nosotros">
		Promovemos la formación integral de nuestros socios, con énfasis en la disciplina, el trabajo en equipo y el respeto.
		Únete a nuestra familia deportiva y disfruta de un entorno saludable y activo. ¡Te esperamos!
	</p>
</div>
